.css-hhdjsd-MuiContainer-root {
    padding: 0;
}

.css-13dvqzo-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root.Mui-disabled ,.css-1k43ku0.Mui-disabled {
    background: #eaeaea !important;
    width: 226px !important;
    color: #2d1e7b !important;
}
